.todo-list{
  display: flexbox;
  box-shadow:  gray 2px 4px 0px 0px;
  width: 500px;
  align-items: center;
  background: whitesmoke;
  padding: 10px;
 margin-block-end: 5px; 
 
}
.todo{
  align-items: center;
  background: #fff;
  border-radius: 3px;
  border: solid gray 2px;
  box-shadow: 1px 3px 1px 0px gray;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}